.fabulous-table {
  position: relative;
}

.fabulous-table.fixed-header .fabulous-scrollable {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.fabulous-table table {
  width: 100%;
}

.fabulous-table .fabulous-headers {
  background-color: white;
}

.fabulous-table .fabulous-header {
  border-bottom: 2px solid #818a91;
  padding: 10px 4px;
}

.fabulous-table .fabulous-header .sortable {
  cursor: pointer;
}

.fabulous-table .label {
  position: relative;
  display: inline-block;
  max-width: 100%;
  padding-right: 14px;
  padding-left: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  color: black;
  font-size: 14px;
}

.fabulous-table .fabulous-header .label .icon {
  position: absolute;
  top: 4px;
  right: 0;
}

.fabulous-table tbody {
  padding-top: 10px;
}

.fabulous-table .fabulous-row {
  cursor: pointer;
  border-bottom: 1px solid #eceeef;
  transition: box-shadow .2s;
  transition-timing-function: ease-in;
}

.fabulous-table .fabulous-row:hover {
  box-shadow: 0 2px 2px rgba(0, 0, 0, .25);
}

.fabulous-table .fabulous-cell {
  min-height: 56px;
  padding: 20px 4px;
  font-size: 14px;
}

.fabulous-table .spinner {
  text-align: center;
}

.fabulous-table .spinner .ion-load-c {
  -webkit-animation: rotate 1s linear infinite;
  animation: spin 1s linear infinite;
  display: inline-block;
  font-size: 40px;
}

.fabulous-table .fabulous-duplicate {
  position: absolute;
  top: 0;
  width: 100%;
}

.fabulous-table .fabulous-duplicate tbody {
  display: none;
}

@-webkit-keyframes spin{ to{-webkit-transform: rotate(360deg); } }
@keyframes         spin{ to{        transform: rotate(360deg); } }