{{#fabulous-table headers=(array
        (hash label='Firstname' orderPath='firstname')
        (hash label='Surname' orderPath='surname')
        (hash label='')
) orderBy='firstname'
  orderDirection='asc'
  changedOrder=(action 'findUsers')
  modelName='user'
  rowAction=(action 'showUserName')
  fixedHeader=true
  scrollSelector='.fabulous-table'
  noSpinner=false
  model=users as |item|}}
    {{#fabulous-cell}}
        {{item.firstname}}
    {{/fabulous-cell}}
    {{#fabulous-cell}}
        {{item.surname}}
    {{/fabulous-cell}}
    {{#fabulous-cell preventPropagation=true}}
        <button {{action 'clickedButton'}}>Click me</button>
    {{/fabulous-cell}}
{{/fabulous-table}}

{{outlet}}